PORT=4000
# Update these URIs if using cloud databases (like Neon or MongoDB Atlas)
PG_URI=postgresql://postgres:postgres@localhost:5432/vitto
MONGO_URI=mongodb+srv://vitto:Pkuv6B1AtYYEsjUP@cluster0.oq2sure.mongodb.net/vitto_db?retryWrites=true&w=majority
